<figure class="text-center">
    <blockquote class="blockquote">
        <p>Oops, Boss ! </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Invalid Email / Password ...
    </figcaption>
</figure>