<figure class="text-center">
    <blockquote class="blockquote">
        <p>Congratulations, Boss ! </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        You've Been Registered Succesfully ...
    </figcaption>
</figure>