<figure class="text-center">
    <blockquote class="blockquote">
        <p>Welcome, Boss ! </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        You've Logged In Succesfully ...
    </figcaption>
</figure>