@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> By accessing or using TransFlower Sites and Services covered by this Policy,
    you agree to this Privacy Policy. If you do not agree to this Policy,
    do not access or use these Sites and Services. By continuing to use
    TransFlower Sites and Services, you are authorizing your acceptance of 
    the terms and conditions explained in this Policy.</p>
