@using BOL;

@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4">New Registration</h1>
</div>
<div>

    <form action="/Home/Register" method="post">
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" name="id" required>    
  </div>
  <div class="mb-3">
    <label for="empname" class="form-label">Name</label>
    <input type="text" class="form-control" id="empname" name="empname" required>    
  </div>
  <div class="mb-3">
    <label for="designation" class="form-label">Designation</label>
    <input type="text" class="form-control" id="designation" name="designation" required>    
  </div>
  <div class="mb-3">
    <label for="department" class="form-label">Department</label>
    <input type="text" class="form-control" id="department" name="department" required>    
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" required>    
  </div>
  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <input type="text" class="form-control" id="salary" name="salary" required>    
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I'm A Human From The Planet Earth & Not An Alien.</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



</div>